.me-container {
  .adm-list-item-content-main {
    display: flex;
  }
}

.me-menu-item {
  width: 50px;
  height: 50px;
  margin: 5px;
  padding: 0;
  font-size: 8px;

  .me-menu-item-title {
    margin-top: 5px;
    text-align: center;
  }
}
